footer{
    border-top: 0.2vw rgb(196, 196, 196) solid;
    width: 100%;
    margin-top: 4%;
    padding: 2% 0;
    background-color: #f5f5f5;
    .footer-top{
        width: 60%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        div{
            width: 23%;
            display: flex;
            flex-direction: column;
            h1{
                font-size: 1.2vw;
            }
            a{
                text-decoration: none;
                font-size: 1vw;
                color: black;
                margin-top: 10%;
                &:hover{
                    color: $red;
                    transition: 0.5s;
                }
            }
            .footer-social{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                flex-wrap: wrap;
                width: 70%;
                i{
                    font-size: 1.2vw;
                    border: 0.1vw rgb(204, 204, 204) solid;
                    border-radius: 50%;
                    width: 30%;
                   color: $red;
                    margin-top: 5%;
                    text-align: center;
                    padding: 8% 0;
                    cursor: pointer;
                    transition: 0.5s;
                    &:hover{
                        border: 0.1vw $yellow solid;
                        color: $yellow;
                    }
                }

            }
        }
    }

    // ============= footer hr ==============
    .footer-hr{
        width: 60%;
        margin: 4% auto;
        hr{
            border-top: 0.1vw rgb(194, 194, 194) solid;
        }
    }
    // ============== last footer ===============
    .last-footer{
        width: 60%;
        margin: 4% auto;
        h1{
            text-align: center;
            font-size: 1vw;
        }
        .footer-links{
            width: 100%;
            display: flex;
            justify-content: space-between;
            margin: 4% 0;
            a{
                font-size: 0.9vw;
                text-decoration: none;
                color: black;
                transition: 0.5s;
                &:hover{
                    color: $red;
                }
            }            
        }
        h2{
            font-size: 0.8vw;
            color: gray;
            text-align: center;
        }
    
    }

}