header{
    width: 100%;
    .main-header{
        width: 60%;
        //  height: 5vw;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 1% 1% 0 1%;
        background:linear-gradient(to right,#fc0, rgb(255, 235, 156));
        // top links ====================================
        .top-links{
            display: flex;
            justify-content: space-between;
            align-self: flex-end;
            width: 20vw;
            a{
                text-decoration: none;
                font-size: 0.8vw;
                width: 50%;
                text-align: center;   
                transition: 0.5s;

                &:nth-child(1){
                    border-bottom: 0.2vw red solid;
                }
                &:hover{
                    background-color: white;
                    color: $red;
                }
            }
        }
        a{
            width: 7vw;
        height: 100%;        
    }
    // nav ================================
   .ul-container{
       display: flex;
       justify-content: flex-end;
       position: relative;
       
    ul{
        align-self: flex-end;
        display: flex;
        justify-content: space-between;
        width: 40vw;

        li{
            list-style: none;
            width: 21%;
            padding: 1%;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            transition: 0.5s;

            a{
                text-decoration: none;
                font-size: 0.9vw;
                height: auto;
                width: auto;
            }
            i{
                font-size: 0.8vw;
            }
            &:nth-child(4){
                width: 8%;
                text-align: center;
              
               i{
                   margin-right: 14%;
               }
           }
            &:nth-child(5){
                 width: 15%;
               
                i{
                    margin-right: 14%;
                }
            }
            &:nth-child(6){
                width: 8%;
                display: flex;
                justify-content: space-between;
                a{
                    color: $red;
                    font-weight: bold;
                }
                i{
                    margin-left: 10%;
                }

            }
            &:hover{
                background-color: white;
                a{
                    color: $red;
                }
            }
        }
       
    }

    // ======================= shipping container ==============
    #shipping-container, #delivery-container{
        background-color: white;
        width: 100%;
        position: absolute;
        top: 100%;
        display: flex;
        justify-content: space-between;
        padding: 1%;
          visibility: hidden;
      
        div{
            width: 24%;
            h2{
                font-size: 1vw;
                color: $red;
                margin-bottom: 5%;
            }
            li{
                list-style: none;
                border-bottom: 0.1vw rgba(0, 0, 0, 0.164) solid;
                margin-bottom: 5%;
                cursor: pointer;
                padding: 5%;
                border-radius: 5px;
                a{
                    text-decoration: none;
                    font-size: 0.9vw;
                    color: black;
                }
                &:hover{
                    background-color: red;
                    a{
                        color: white;
                    }
                }
            }
        }
        .exit{
            display: none;
        }
    }
   }
    }
}