.upper{
    .main-upper{
        // =============== Middle-text ============

        .middle-text{
           padding: 5%;
           text-align: center;
           h1{
               font-size: 2vw;
               margin-bottom: 2%;
            
           }
           p{
               font-size: 1vw;
           }
        }
        //  ================ three pics =======
        .three-pics{
            display: flex;
            justify-content: space-between;
            div{
                width: 32%;
                a{
                    img{
                        width: 100%;
                        border-bottom: 0.3vw red solid;

                    }
                }
                div{
                    width: 100%;
                    padding: 3%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    height: 10vw;
                    h2{
                        font-size: 1.2vw;
                        color: $red;
                        i{
                            font-size: 0.8vw;
                            margin-left: 3%;
                        }
                    }
                    p{
                        font-size: 1vw;
                    }
                    button{
                        width: 100%;
                        border: 1px gray solid;
                        background-color: transparent;
                        color: $red;
                        font-weight: bold;
                        font-size: 1vw;
                        padding: 1.5% 0;
                        border-radius: 5px;
                        cursor: pointer;
                        transition: 0.5s;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        &:hover{
                            border: 0.1vw red solid;
                        }
                    }
                }
            }
        }
        // ============ HR_LINKS =================
        .hr-links{
            display: flex;
            justify-content: space-between;
            margin: 10% 0;
            div{
                width: 32%;
                border-top: 0.1vw rgb(200, 200, 200) solid;
                border-bottom: 0.1vw rgb(200, 200, 200) solid;
            //    hr{
            //        border-top: rgb(231, 231, 231) 0.1vw solid;
            //    }
                

                a{
                    margin: 5% 0;
                    display: flex;
                    align-items: center;
                    justify-content: space-evenly;
                    text-decoration: none;
                    padding: 0 3%;
                    p{
                        font-size: 1vw;
                        color: black;
                        font-weight: bold;
                        cursor: pointer;
                        transition: 0.5s;
                        &:hover{
                            color: $red;
                        }
                    }
                    i{
                        font-size: 1vw;
                        color: $red;
                    }
                }
            }
        }

    }
    // ================ middle =================
    .middle{
        background-color: #f5f5f5;
        width: 100%;
        padding: 3% 0;
        .middle-container{
            width: 60%;
            margin: 0 auto;
            .middle-text{
                text-align: center;
                h1{
                    font-size: 1.8vw;   
                    margin: 1% 0;
                }
                p{
                    font-size: 1vw;
                    margin: 1% 0;
                }
            }
            .two-pics{
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                margin-top: 5%;
                div{
                    width: 48%;
                    display: flex;
                    flex-direction: column;
                    
                    overflow: hidden;
                    &:nth-child(1){
                     div{
                         padding-bottom: 11%;
                     }
                    }
                    a{
                        img{
                            width: 100%;
                        }
                    }
                    div{
                        border: 0.3vw rgb(231, 231, 231) solid;
                        width: 100%;
                        padding: 4%;                        
                         background-color: white; 
                         
                             

                        form{
                            display: inline-flex;
                            width: 100%;
                            height: 2vw;
                            input{
                                font-size: 1vw;
                                width: 100%;
                                border-radius: 5px 0 0 5px;
                                padding: 1%;  
                                outline: none;  
                                border: 1px rgb(179, 179, 179) solid;
                            }
                            button{
                                width: 10%;
                                background-color: $red;
                                border: none;
                                outline: none;
                                border-radius: 0 5px 5px 0;
                                transition: 0.5s;
                                cursor: pointer;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                i{
                                    font-size: 1vw;
                                    color: white;
                                }
                                &:hover{
                                    background-color: white;
                                    border: 0.1vw red solid;
                                    i{
                                        color: $red;
                                    }
                                }
                            }
                        }
                        h1{
                            font-size: 1vw;
                            margin-bottom: 5%;
                        }
                        p{
                            font-size: 0.9vw;
                            display: flex;
                            align-items: center;
                            cursor: pointer;
                            transition: 0.5s;
                            margin-bottom: 5%;
                            i{
                                font-size: 0.8vw;
                                margin-left: 3%;
                            }
                            &:nth-child(3){
                                font-weight: bold;
                                margin-top: 4%;
                                i{
                                    color: $red;
                                }
                            }
                            &:hover{
                                color: $red;
                            }
                        }
                    }
                    
                }
            }
        }
    }
}

// =========================== down section ============
.down{
    width: 100%;
    .top-section{
   

        .top-section-container{
            width: 60%;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 4% 0;

            h1{
                font-size: 1.8vw;
                text-align: center;
            }
            .container{
                display: flex;
                justify-content: space-between;
                margin-top: 5%;
                div{
                    width: 32%;
                    background-color: rgb(248, 248, 248);
                    padding: 2% 1%;
                    h2{
                        font-size: 1vw;
                        color: $red;
                        margin-bottom: 4%;
                        i{
                            font-size: 0.9vw;
                            margin-left: 3%;
                        }
                    }
                    p{
                        font-size: 1vw;
                        margin: 2% 0;
                    }
                }
            }
            button{
                width: 50%;
                margin-top: 5%;
                font-size: 1vw;
                background-color: $red;
                color: white;
                padding: 1% 0;
                border: none;
                outline: none;
                font-weight: bold;
                cursor: pointer;
                border-radius: 5px;
                transition: 0.5s;
                &:hover{
                    background-color: white;
                    border: 0.1vw red solid;
                    color: $red;
                }
            }
        }
    }

    // ======================= bottom section ========================
    .bottom-section{
        background-color: #f5f5f5;
        padding: 2%;
        .bottom-section-container{
            width: 60%;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
            div{
                width: 32%;
                hr{
                    border-top: 0.1vw rgb(219, 219, 219) solid;
                }
                h1{
                    font-size:1.7vw;
                    margin-bottom: 6%;
                }
                a{
                    display: flex;
                    width: 100%;
                    justify-content: space-between;
                    align-items: center;
                    text-decoration: none;
                    padding: 5% 2%;
                    
                    p{
                        font-size: 0.9vw;
                        color: black;
                        font-weight: bold;
                    }
                    i{
                       font-size: 0.9vw;
                       color: $red;
                    }
                    &:hover p{
                        color: $red;
                        transition: 0.5s;
                    }
                    
                }

            }
        }
    }
}
// ========================= BODY HR =====================
