.upper{
    .main-upper{
        // =============== Middle-text ============

        .middle-text{
           padding: 5%;
           text-align: center;
           h1{
               font-size: 2vw;
               margin-bottom: 2%;
            
           }
           p{
               font-size: 1vw;
           }
        }

        
    }
}