@media only screen and (min-width:740px) and (orientation:landscape) {
    header{
        .main-header{
            .ul-container{
                ul{
                    width: 80%;
                    li{
                        width: 23%;
                        border: 2px red solid;
                    }
                }
            }
        }
    }
}