@import "./var";
@import "./header";
@import "./bg";
@import "./main-container";
@import "./footer";
@import "./mobile";
@import "./tablet";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
